python-telegram-bot==21.9
ytmusicapi==1.10.2
pymongo==4.10.1
motor==3.7.1
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git@master
aiohttp==3.9.5
python-dotenv==1.0.1
aiofiles==23.2.1
requests==2.32.5